/*============ Home Component ====================*/
/*============== Style.CSS ==================================*/
@font-face {
    font-family: "Raleway-Medium";
    src: url('/fonts/Raleway-Medium.ttf');
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("/fonts/Raleway-Regular.ttf");
}
/* Header star */

a{
    color: inherit;
}

.fa{
    margin-left: 3px;
}
.content{
    padding-left: 15%;
}
#blocks{
    margin-left: -13px;
}

.blocks{
    width: 100%;
    height: 175px;
    background-color: #3498db;
    text-align: center;
    color: white;
    font-family: Raleway-Regular;
    font-size: 14px;
    display: table;
    margin-bottom: 20px;
}

.blocks h5{
    display: table-cell;
    vertical-align: middle;
}
/*About Us end */

/*Connect Start*/

.bg-header-image{
    background: url("/Untitled-1.png");
    background-size: cover;
    min-height: 450px ;
}

.header-text-content{
    margin-top: 4em;
}

.text-shrink{
    line-height: 1px;
}

.top-20{
    margin-top: 20px;
}

.block-row{
    margin-top: 30px;
}

.third-div-connect{
    background-image: url("/devices.png");
}
.fifth-div-follow{
    background-color: #E8EAF6;
    height: 220px;
}
.social-site-font{
    font-size: 10px;
    margin-left: 10px;
}

/*============= Margin.CSS ===================================*/
.second-div-top{
    margin-top: 20px;
}

.header-div-top{
    margin-top: 30px;
}
.header-text-content-top{
    margin-top: 120px;
}
.third-div-connect{
    height:430px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.second-div-about{
    margin-bottom: 20px;
}

/*======================= Text.CSS =============================*/
@font-face {
    font-family: "Raleway-Medium";
    src: url('/fonts/Raleway-Medium.ttf');
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("/fonts/Raleway-Regular.ttf");
}

.text-intro{
    font-family: Raleway-Medium;
}
.text-desc{
    font-family: Raleway-Regular;
}
.text-white{
    color: #ffffff;
}
.text-size-content{
    font-size: 27px;

}
.cta-font{
    font-size: 14px;
}
.text-primary{
    color: #3498db;
}

/*========================== Button.CSS ===========================================*/
.btn-main{
    background: #3498db;
    color: #fff;

}

.btn-main:hover{
    background: #304FFE;
    color: #fff;
}

.btn-plain{
    color: #fff;
}
.btn-plain:hover{
    background: #3498db ;
    color: #ffffff;
    text-decoration: none;
}

.btn-outline{
    border: 2px solid #3498db;
    padding: 10px 40px;
}
.btn-flat{
    border-radius:0 ;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/*Info Component*/
.top-bar{
    background-color: #3498db;
}
.user-home{
    margin-left: 0;
}
.user-home:hover{
    text-decoration: none;
}

.user-account{
    margin-top: 10px;
}
.user-navbar {
    background-color: #BDBDBD;
}
.text-nav li a {
    color: black;
    padding: 10px;
}

#active a{
    background-color: #757575;
    color: white;
}
.user-nav ul li a:hover {
    transition:  0.3s;
    color: white;
    background-color: #757575;
}
.text-nav a:hover{
    text-decoration: none;
}
.user-nav ul li {
    padding: 5px;
    margin-top: 5px;
}

.quick-links{
    margin-top: 50px;
}

.blocks{
    width: 100%;
    height: 175px;
    background-color: #3498db;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-family: "Raleway-Medium";
    display: table;

}
.blocks h5{
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}
.text-intro{
    font-family: Raleway-Medium;
}
.text-desc{
    font-family: Raleway-Regular;
}
.text-white{
    color: #ffffff;
}
.top-bar{
  background-color: #3498db;
  border-radius: 0;
  color: white;
}

.user-home{
    margin-left: 0;
}
.user-account:hover{
  background-color: #BDBDBD;
}
.user-home a:hover{
    text-decoration: none;
}
.user-navbar {
    background-color: #BDBDBD;
    height: 40px;
}
.text-nav li a {
    color: black;
    padding: 10px;
}
.user-nav {
  margin-top: -20px;
}
#active a{
    background-color: #757575;
    color: white;
}
.user-nav ul li a:hover {
    transition:  0.3s;
    color: white;
    background-color: #757575;
}
.text-nav a:hover{
    text-decoration: none;
}
.user-nav ul li {
    padding: 5px;
    margin-top: 5px;
}

.quick-links{
    margin-top: 50px;
}

.blocks{
    width: 100%;
    height: 175px;
    background-color: #3498db;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-family: "Raleway-Medium";
    display: table;

}
.blocks h5{
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}
.navbar-content {
    color: black;
    width: 200px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.sign-out {
  border-radius: 0;
}

/*===============Pressure Component=================*/
.timeline-wrapper h2{
  font-size: 15px !important;
  font-weight: bold !important;
  color:darkblue;
}
.timeline-series dt{
  font-size: 15px !important;
  line-height: 0.2em !important;
  margin: 0 0 8px !important;
}

/*===============Profile Component=================*/
.profile-nav {
  margin-top: 30px;
}
.user-navbar {
    background-color: #BDBDBD;
    height: 40px;
}
.text-nav li a {
    color: black;
    padding: 10px;
}
.user-nav {
  margin-top: -75px;
}
.user-nav ul{
  margin-left: 200px;
}
.user-nav ul li a:hover {
    transition:  0.3s;
    color: white;
    background-color: #757575;
}
.text-nav a:hover{
    text-decoration: none;
}
.user-nav ul li {
    padding: 20px;
}
.table {
  margin-top: 30px;
  color: white;

}
.table-bg {
  background-color: #3498db;
}

/*===============Profile Info Component=================*/
.top-bar{
  background-color: #3498db;
  border-radius: 0;
  color: white;
}

.button-shape {
  border-radius: 0px !important;
}
.panel-header {
  background-color: #3498db !important;
}
.panel-footer {
  background-color: white !important;
}

/*===============Profile Update Component=================*/
.top-bar{
  background-color: #3498db;
  border-radius: 0;
  color: white;
}
.nav-tabs {
  background-color: #BDBDBD;
  border: 1px solid #3498db;
}
.update-tab li {
  width :100%;
}
.delete-email {
  margin-left: 20px;
}
.button-shape {
  border-radius: 0px !important;
}
.panel-header {
  background-color: #3498db !important;
}
.panel-footer {
  background-color: white !important;
}
.button-margin {
  margin-top: 5px;
}

/*===============Prescription Component=================*/
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
  background-color: #3498db;
  border: 0px !important;

}
